.password {
  &-container {
    width: 300px;
  }

  &-input {
    width: 100%;
  }

  &-difficulty {
    height: 8px;
    margin-top: 8px;

    display: flex;
  }
}

.difficulty {
  height: 4px;
  width: 100%;
  &:not(:last-child) {
    margin-right: 8px;
  }

  &__gray {
    background-color: gray;
  }

  &__red {
    background-color: red;
  }

  &__yellow {
    background-color: yellow;
  }

  &__green {
    background-color: green;
  }
}
