<div class="password-container">
  <input type="password" #passwordInput (input)="onInputChange(passwordInput.value)" placeholder="Password" class="password-input">
  <div class="password-difficulty">
    <div [ngClass]="{
      'difficulty': true,
      'difficulty__gray': passwordStatus === 'empty',
      'difficulty__red': passwordStatus === 'smaller_than_eight' || passwordStatus === 'easy',
      'difficulty__yellow': passwordStatus === 'medium',
      'difficulty__green': passwordStatus === 'strong'
    }"></div>
    <div [ngClass]="{
      'difficulty': true,
      'difficulty__gray': passwordStatus === 'empty' || passwordStatus === 'easy',
      'difficulty__red': passwordStatus === 'smaller_than_eight',
      'difficulty__yellow': passwordStatus === 'medium',
      'difficulty__green': passwordStatus === 'strong'
    }"></div>
    <div [ngClass]="{
      'difficulty': true,
      'difficulty__gray': passwordStatus === 'empty' || passwordStatus === 'easy' || passwordStatus === 'medium',
      'difficulty__red': passwordStatus === 'smaller_than_eight',
      'difficulty__green': passwordStatus === 'strong'
    }"></div>
  </div>
</div>

